.container {
    display: flex;
}

.label {
    margin-right: 0.5em;
}

.offer {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: all;
}

.connection {
    text-align: left;
}