.field {
    width: min(640px, 90vw);
    height: min(640px, 90vw);

    position: absolute;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;

    touch-action: none;
}

.fieldContainer {
    width: 100%;
    height: min(640px, 90vw);

    display: flex;
    justify-content: center;
}
