.field {
    width: 640px;
    height: 640px;

    position: absolute;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
}

.fieldContainer {
    display: flex;
    justify-content: center;
}
