.pieceContainer {
}

.piece {
    height: 100%;
    width: 100%;

    background-size: contain;
    background-repeat: no-repeat;
}

/* White */
.white.pawn {
    background-image: url("/public/pieces/anarcandy/wP.svg");
}

.white.rook {
    background-image: url("/public/pieces/anarcandy/wR.svg");
}

.white.horsey {
    background-image: url("/public/pieces/anarcandy/wN.svg");
}

.white.bishop {
    background-image: url("/public/pieces/anarcandy/wB.svg");
}

.white.queen {
    background-image: url("/public/pieces/anarcandy/wQ.svg");
}

.white.king {
    background-image: url("/public/pieces/anarcandy/wK.svg");
}

/* Black */
.black.pawn {
    background-image: url("/public/pieces/anarcandy/bP.svg");
}

.black.rook {
    background-image: url("/public/pieces/anarcandy/bR.svg");
}

.black.horsey {
    background-image: url("/public/pieces/anarcandy/bN.svg");
}

.black.bishop {
    background-image: url("/public/pieces/anarcandy/bB.svg");
}

.black.queen {
    background-image: url("/public/pieces/anarcandy/bQ.svg");
}

.black.king {
    background-image: url("/public/pieces/anarcandy/bK.svg");
}

/* Additional pieces */
.white.knook {
    background-image: url("/public/pieces/anarcandy/wKn.svg");
}

.black.knook {
    background-image: url("/public/pieces/anarcandy/bKn.svg");
}
